/* Root variables for easier color and style customization */
:root {
  --black-color: rgb(0, 0, 0);
  --red-color: rgb(255, 0, 0);
  --shadow-color: rgba(0, 0, 0, 0.15);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures border and padding do not affect element width/height */
}

/* Base font size adjustment for easier rem calculation */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

/* Full viewport height for body */
body {
  background-image: url('images/cars-time-lapse.webp');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  font-size: 1.6rem;
  height: 100vh;
}

/* Main wrapper for centering the clock */
main {
  height: 100%;
}

.clock__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.clock__face {
  position: relative;
  border: min(1.3vw, 1.3vh) solid var(--black-color);
  width: min(60vw, 60vh);
  height: min(60vw, 60vh);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px var(--shadow-color);
  background-color: rgb(236, 234, 222);
}

.clock__numbers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.clock__number {
  position: absolute;
  font-size: min(5vw, 5vh); /*1.6rem*/
  font-weight: bold;
}

/* Positioning for each clock number (hours) */
.clock__number--1 { top: 10%; right: 26%; }
.clock__number--2 { top: 26%; right: 12%; }
.clock__number--3 { top: 46%; right: 6%; }
.clock__number--4 { bottom: 26%; right: 12%; }
.clock__number--5 { bottom: 10%; right: 26%; }
.clock__number--6 { bottom: 3%; right: 48.2%; }
.clock__number--7 { bottom: 10%; left: 26%; }
.clock__number--8 { bottom: 26%; left: 12%; }
.clock__number--9 { top: 46%; left: 6%; }
.clock__number--10 { top: 26%; left: 11%; }
.clock__number--11 { top: 10%; left: 25%; }
.clock__number--12 { top: 3%; left: 46%; }

/* General styling for the clock hands */
.clock__hand--hours, .clock__hand--minutes, .clock__hand--seconds {
  position: absolute;
  transform-origin: 100%;
  transition: transform 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
  right: 50%; /* ensures alignment */
}

/* Specific styles for each clock hand */
.clock__hand--hours {
  background-color: var(--black-color);
  height: min(1.3vw, 1.3vh);
  width: 22.5%;
  z-index: 1;
}

.clock__hand--minutes {
  background-color: var(--black-color);
  height: min(1vw, 1vh);
  width: 45%;
}

.clock__hand--seconds {
  background-color: var(--red-color);
  height: min(0.4vw, 0.4vh);
  width: 45%;
  z-index: 2;
}